body, html {
    background-image: url('/assets/img.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;

}

::ng-deep body, ::ng-deep html {
  height:100%;
  margin: 0;
}

#buttons{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}